<head xmlns:rel="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="../js/libgif.js"></script>
  <script type="text/javascript" src="../js/rubbable.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>
    Example gif
  </title>
</head>

<body>
<center>
  <h3>Enjoy!</h3>
  <img id="example1" src="../../gol/0.png" rel:animated_src="../../gol/rub_test.gif" rel:auto_play="0" width="467" height="375" />
  <br>
  <script type="text/javascript">
      var sup1 = new SuperGif({ gif: document.getElementById('example1') } );
      sup1.load();
  </script>

  <a class="waves-effect waves-light btn-large" href="javascript:;" onmousedown="sup1.pause(); return false;"><i class="material-icons">pause</i></a> |
  <a class="waves-effect waves-light btn-large" href="javascript:;" onmousedown="sup1.play(); return false;"><i class="material-icons">play_arrow</i></a> |
  <a class="waves-effect waves-light btn-large" href="javascript:;" onmousedown="sup1.move_to(0); return false;"><i class="material-icons">replay</i></a> |
  <a class="waves-effect waves-light btn-large" href="javascript:;" onmousedown="sup1.move_relative(1); return false;"><i class="material-icons">fast_forward</i></a> |
  <a class="waves-effect waves-light btn-large" href="javascript:;" onmousedown="sup1.move_relative(-1); return false;"><i class="material-icons">fast_rewind</i></a>

  <script type="text/javascript">
      var sup2 = new RubbableGif({ gif: document.getElementById('example2') } );
      sup2.load();
  </script>

</center>

</body>