
<script src="js/processing.min.js"></script>
<div class="card-panel white">
  <h4>Game of Life</h4>
  <div class="card-content black-text ">
    <canvas data-processing-sources="test.pde"></canvas>
  </div>
</div>
