<div class="row">
  <form class="col s12" action="/gol" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="iteration" id="iteration" type="number" class="validate" name="iteration">
        <label for="iteration">Iterations:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="input" type="text" class="validate" name="input">
        <label for="input">input:</label>
      </div>
    </div>
    <button type="submit"> Go!</button>
  </form>
</div>