<script type="text/javascript">
    var chart_caller_delay = [];
    var json_caller_delay = <%= @chart1 %>;
    for (var keyName in json_caller_delay) {
        chart_caller_delay.push({delay: keyName, occurrence: json_caller_delay[keyName]})
    }

    var chart_in_system = [];
    var json_in_system = <%= @chart2 %>;
    for (var keyName in json_in_system) {
        chart_in_system.push({in_system: keyName * 10, occurrence: json_in_system[keyName]})
    }
    AmCharts.ready(function () {
        var chart = new AmCharts.AmSerialChart();
        chart.dataProvider = chart_caller_delay;
        chart.categoryField = "delay";

        var graph = new AmCharts.AmGraph();
        graph.valueField = "occurrence";
        graph.type = "column";
        graph.fillColors = "#6a1b9a";
        graph.fillAlphas = 0.8;
        graph.lineColor = "#6a1b9a";

        chart.addGraph(graph);
        chart.angle = 30;
        chart.depth3D = 15;

        chart.write("chartdiv");
        //////////////////////////////
        var chart2 = new AmCharts.AmSerialChart();
        chart2.dataProvider = chart_in_system;
        chart2.categoryField = "in_system";

        var graph2 = new AmCharts.AmGraph();
        graph2.valueField = "occurrence";
        graph2.type = "line";
        graph2.fillColors = "#6a1b9a";
        graph2.fillAlphas = 0.5;

        chart2.addGraph(graph2);
        chart2.angle = 30;
        chart2.depth3D = 15;

        chart2.write("chartdiv2");

    });


</script>
<h4 class="card-panel lime lighten-2">Frequency of daily profit</h4>
<div id="chartdiv" style="width:100%; height:400px;"></div><br>
<h4 class="card-panel lime lighten-2">Daily profit</h4>
<div id="chartdiv2" style="width:100%; height:400px;"></div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Total profits:</span>
        <% @final_profit.each do |k, v| %>
            <p><%= k %> : <%= v %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


