<!DOCTYPE html>
<html>
<head>
  <title>Merfan Simulation framework</title>
  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
  <script src="jsoneditor/dist/jsoneditor.min.js"></script>
  <link href="/font/icon" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
  <style>
      table.striped > tbody > tr:nth-child(2n) {
          background-color: #f0f4c3;
      }

      td, th {
          text-align: center !important;
      }

      body {
          font: 11pt arial;
      }
      #jsoneditor {
          width: 100%;
          height: 400px;
      }
      @font-face {
          font-family: 'Material Icons';
          font-style: normal;
          font-weight: 400;
          src: url(../font/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
          src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(../font/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
          url(../font/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
          url(../font/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
      }


      .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px; /* Preferred icon size */
          display: inline-block;
          width: 1em;
          height: 1em;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;

          /* Support for all WebKit browsers. */
          -webkit-font-smoothing: antialiased;
          /* Support for Safari and Chrome. */
          text-rendering: optimizeLegibility;

          /* Support for Firefox. */
          -moz-osx-font-smoothing: grayscale;

          /* Support for IE. */
          font-feature-settings: 'liga';
      }

  </style>

  <link rel="stylesheet" href="amcharts/style.css" type="text/css">

  <script src="amcharts/amcharts.js" type="text/javascript"></script>
  <script src="amcharts/serial.js" type="text/javascript"></script>
  <script src="amcharts/amstock.js" type="text/javascript"></script>

</head>
<body class="indigo lighten-5">
<div class="container">
  <h3>Welcome to Mer|fan Simulation framework!</h3>
  <%= yield %>
</div>

</body>
</html>

