<br><br>

<p>
  edit and submit your Simulation config JSON string here:
</p>
<div class="row">
  <div id="jsoneditor">
    <p>
      EDITOR:
    </p>
  </div>
</div>
<br>
<br>
<div class="row">
<button class="btn-floating btn-large waves-effect waves-light red" id="starter" onclick="submit_form()">
  <i class="material-icons">Run</i>
  <!--<p>Run</p>-->
</button>
</div>
<script>
    var container = document.getElementById('jsoneditor');
    var options = {
        mode: 'code',
        modes: ['code', 'tree'], // allowed modes
        search: false,
        error: function (err) {
            alert(err.toString());
        }
    };
    var json = {
        "array": [1, 2, 3],
        "boolean": true,
        "null": null,
        "number": 123,
        "object": {"a": "b", "c": "d"},
        "string": "Hello World"
    };
    var editor = new JSONEditor(container, options, json);
    var btn = document.getElementById('starter');
    function submit_form() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', 'run');
        form.style.display = 'hidden';
        document.body.appendChild(form);
        var data = document.createElement('input');
        data.setAttribute('type', 'hidden');
        data.setAttribute('name', 'post[:code]');
        data.setAttribute('value', JSON.stringify(editor.get()));
        form.appendChild(data);
        form.submit();
    }

</script>